<!DOCTYPE html>
<html lang="cs">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet"
              href="{% static 'css/bootstrap.min.css' %}"
              type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pojišťovna</title>
    </head>
    <body>
        <nav>
            <div class="flex_box">
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'pojisteni/umbrella.png' %}" alt="Logo"></a>
                    
                </div>
                <div class="nav_items">
                    <div class="nav_item"><a href="{% url 'insured_index' %}">Pojištěnci</a></div>
                    <div class="nav_item"><a href="{% url 'insurance_index' %}">Pojištění</a></div> 
                    <div class="nav_item"><a href="{% url 'events_index' %}">Události</a></div>
                    <div class="nav_item" style="margin-bottom: 20px;"><a href="{% url 'about' %}">O aplikaci</a></div> 
                    <div class="user-actions">
                        {% if user.is_authenticated %}
                            <p>Přihlášený uživatel: {{ user.username }}</p>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Odhlásit se</button>
                            </form>
                        {% else %}
                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit">Přihlásit se</button>
                            </form>
                            <a href="{% url 'register' %}">Registrace</a>
                        {% endif %}
                </div>
            </div>
        </nav>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            Vyrobila Markéta
        </footer>
    </body>
</html>
